*{
   align-content: center;
}

.formulario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #dddddd;
    
}

#tablaContent td, th{
    border-spacing: 15px;
    padding: 5px;
    border: 1px solid black;
}


#tablaIcon{
    
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    padding: 5px;
}

#tablaIcon td{
    border: 1px solid black;
   
}

#tablaicon img{
    padding: 0px 35px 0px 35px;
    width: 32px;
    height: 32px;
}

#the-canvas{
    height: 500px;
}

#lat{
    width: 5%;
    border: 1px solid black;
    padding: 10px;
}
#superior{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}
#videoStyle{
    width: 55%;
    
}
#presentacion{
    width: 40%;
}

.relacionados li:hover{

color: blue;
cursor: pointer;

}



